
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        
        <div class="container" >
          
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="anasayfa"> <i class="fa fa-bolt"></i> Arif Karakaya</a> </div>
        
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="iletisim"><i class="fa fa-phone-square"></i> İletişim</a></li>
            <!-- <?php if(@$_SESSION['yetki']==1) {?>
            <li><a href="ayarlar"><i class="fa fa-cog"></i> Ayarlar</a></li>
            <?php }?> -->
          </ul>
            <!-- <div id="amenu">
            <?php require('_inc/_menu.php'); ?>
            </div> -->
            <!-- /sağ bölüm--> 
            <div id="giris">
                <form class="navbar-form navbar-right" role="form" id="frmGiris" method="post">
                    <input name="frm" value="giris" type="hidden" />
                    <div class="form-group">
                      <input name="email"  required type="email" placeholder="Email" class="form-control input-sm radius0">
                    </div>
                    <div class="form-group">
                      <input name="sifre" required type="password" placeholder="Şifre" class="form-control input-sm radius0">
                    </div>
                    <div class="btn-group">
                      <button id="btnGiris" type="submit" class="btn btn-info btn-sm radius0"> <i class="fa fa-check-square-o"></i>  Giriş </button>
                      <a href="unuttum" type="button" class="btn btn-info btn-sm radius0"> <i class="fa fa-question"></i> Unuttum </a>
                      <a href="yeniUye" type="button" class="btn btn-info btn-sm radius0"> <i class="fa fa-user"></i> Yeni Üye </a>
                    </div>
                  </form>
            </div>
          </div>
          <!-- /.nav-collapse --> 
        </div>
        <!-- /.container --> 
      </div>
    <!-- /.navbar --> 
    
<section id="site" class="container">
  
  <header>
    <div id="baslik"> 
        <img src="_css/_rsm/logo.png" width="122" height="122">
        <div class="site_adi">Arif Karakaya</div>
        <div class="site_slogan">Yapı Mimarınız</div>
    </div>
    <!-- <nav id="menu" class="navbar-inverse"><?php require('_inc/_menu.php'); ?></nav> -->
  </header>
<!--   
  <?php require('_inc/_sayfayolu.php'); ?> 
  <?php require('_sayfa.php'); ?> -->
  
  <footer class="row text-center" style="margin:0px;">
    <div class="col-md-4">
      <h4 class="well" style="color:#09F">DÖVİZ KURLARI</h4>
      <p><script type="text/javascript">
    var para_birimleri="USD-EUR-GBP";
    var arka_plan="FFFFFF";
    var cerceve="333333";
    var kutucuk="FFFFFF";
    var piyasa_baslik="FFFFFF";
    var tur_baslik="999999";
    var fiyat_baslik="CC3300";
    var kutu_kose="kare";
    var genislik="300";
    var bankalar="acik";
    var paylasim="kapali";
    </script>
    <div style="width:120px;font-size:12px;text-align:right;"><a name="piyasadoviz" target="_blank"  href="http://www.piyasadoviz.com/tcmb">merkez bankası</a></div><script type="text/javascript" charset="iso-8859-9" src="http://eklenti.piyasadoviz.com/doviz.js"></script>
      </p>
    </div>
    <div class="col-md-4">
      <h4 class="well" style="color:#09F">ÖNEMLİ HİSSE SENETLERİ</h4>
      <p><iframe frameborder="0" scrolling="no"  width="439" allowtransparency="true" marginwidth="0" marginheight="0" src="https://ssleqrates.forexprostools.com/index.php?force_lang=10&pairs_ids=23641;22982;23552;22983;23640;23349;23343;&header-text-color=%23FFFFFF&curr-name-color=%230059b0&inner-text-color=%23000000&green-text-color=%232A8215&green-background=%23B7F4C2&red-text-color=%23DC0001&red-background=%23FFE2E2&inner-border-color=%23CBCBCB&border-color=%23cbcbcb&bg1=%23F6F6F6&bg2=%23ffffff&open=hide&change_in_percents=hide&last_update=hide"></iframe><div style="width:439px;"><span><span style="font-size: 11px;color: #333333;text-decoration: none;"></div></p>
      
    </div>
    <div class="col-md-4 " >
      <h4 class="well" style="color:#09f">KONUT KREDİSİ HESAPLAMA </h4>
            <script type="text/javascript" src="_js/kredi.js"></script>
    <script type="text/javascript">kredipazari_displayCalc();</script>
      </div>
    <!-- <?php if($ayarlar['copyright']) {?>
    <div class="col-lg-12">
      <hr>
      <p><?=$ayarlar['copyright'];?></p>
    </div>
    <?php }?> -->
  </footer>
  
</section>

<script type="text/javascript" src="_js/jquery-1.11.2.min.js" ></script>
<script type="text/javascript" src="_js/bootstrap-3.3.1.min.js" ></script>
<script type="text/javascript" src="_js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="_js/dataTables.bootstrap.js" ></script>
<script type="text/javascript" src="ckeditor/ckeditor.js" ></script>
<script type="text/javascript" src="ckfinder/ckfinder.js" ></script>
<script type="text/javascript" src="_js/jquery.datetimepicker.js" ></script>
<script type="text/javascript" src="_js/bootstrap-progress.js" ></script>
<script type="text/javascript" src="_js/jquery-form.js" ></script>
<script type="text/javascript" src="_js/lightbox.min.js" ></script>
<script type="text/javascript" src="_js/site.js" ></script>

<div id="mesaj" style="display:none;">
    <div id="alert" ></div><div class="alert" role="alert">
<button type="button" class="close" ><span aria-hidden="true">&times;</span></button><p></p></div>
</div>
<!-- <?php $ifo = null;
unset($ifo);
?> -->
</body>
</html>