<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bireysel Referans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>

<body>
    <article>
        <div style="overflow:auto; margin-bottom:20px;">
           
                    <div class="col-md-4">
                            <% bref.forEach(function(item){ %>
                        <h4><%=item.baslik%></h4>
                        <a data-title="<%=item.aciklama%>">
                            <img src="css/_rsm/dv.jpg"
                        </a>
                <div style="margin-top:20px;"><button type="submit" class="btn btn-info"><a href="_yorumekle">Yorum Ekle</a></button></div>
                    </div>
                    
                    <div>
                    </div>
                    <% }); %>
        </div>
    </article>
</body>

</html>