<%- contentFor('title') %>
Bireysel Referanslar

<%- contentFor('body') %>
<section id="icerik" class="buyuk">
    
                <div class="row"> 
                  <div class="col-md-6">
                    <h3 class="well well-sm">İletişim Bilgileri</h3>
                    <h4>
                     Arif Karakaya
                    </h4>
                    <p>Mehmet Akif Mahallesi Şahin Caddesi Cumhur Sokak</p>
                    <p><i class="fa fa-phone">02164206970</i></p>
                    <p><i class="fa fa-fax"></i>0216427970</p>
                    <p><i class="fa fa-mobile-phone"></i> 05345754593 </p>
                    <p><i class="fa fa-envelope-o"></i> <a href="mailto:'tuncakpinar@hotmail.com'"></a></p>
                   <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=" width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
                   </div>
                    <ul class="list-unstyled list-inline list-social-icons">
                    <li><a  href="#"><i class="fa fa-facebook-square fa-2x"></i></a> </li>
                    <li><a  href="#"><i class="fa fa-linkedin-square fa-2x"></i></a> </li>
                    <li><a  href="#"><i class="fa fa-twitter-square fa-2x"></i></a> </li>
                    <li><a  href="#"><i class="fa fa-google-plus-square fa-2x"></i></a> </li>
                    </ul>
                   
                    </div>
                    <div class="col-md-6">
                      <h3 class="well well-sm">Bize Ulaşın</h3>
                      <form  id="frm" method="post">
                          <input type="hidden" name="frm" value="iletisim"/>
                        <div class="control-group form-group">
                          <div class="controls">
                            <label>Ad Soyad:</label>
                            <input type="text" class="form-control radius0" name="adi" required />
                            
                          </div>
                        </div>
                        <div class="control-group form-group">
                          <div class="controls">
                            <label>Telefon:</label>
                            <input type="tel" class="form-control radius0" name="tel" required />
                          </div>
                        </div>
                        <div class="control-group form-group">
                          <div class="controls">
                            <label>Email Adresi:</label>
                            <input type="email" class="form-control radius0" name="email" required />
                          </div>
                        </div>
                        <div class="control-group form-group">
                          <div class="controls">
                            <label>Mesaj:</label>
                            <textarea name="mesaj" rows="12" cols="100" class="form-control radius0"  required  maxlength="999" style="resize:none"></textarea>
                          </div>
                        </div>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-info">Mesajı Gönder</button>
                      </form>
                    </div>
                  </div>
                </section>
                
</section>
</body>